.header
{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}
.inputText
{
    padding-right: 40px;
    border-radius: 5px;
}
.buttonadd
{
    
    background-color: #979797;
    border-radius: 50%;
    margin-left: 5px;

}
p
{
    text-align: center;

}

div
{
    padding:1px auto;
}